<html lang="en" layout:decorator="/healthcare/layout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<p class="pull-right visible-xs">
			<button type="button" class="btn btn-primary btn-xs"
				data-toggle="offcanvas">Toggle nav</button>
		</p>
		
		<div class="row">
			<div class="col-xs-12 col-sm-9">
				
				<div th:if="${param.error}">Invalid username and password.</div>
				<form th:action="@{/login}" class="form-signin" method="post">
					<h2 class="form-signin-heading">Please login</h2>
					<div class="form-group">
						<label for="userName" class="sr-only">Email address</label> <input
							type="text" name="username" id="username" class="form-control"
							placeholder="Email address/ phone no." required="" autofocus="" />
					</div>
					<div class="form-group">
						<label for="password" class="sr-only">Password</label> <input
							type="password" name="password" id="password"
							class="form-control" placeholder="Password" required="" />
					</div>
					<input type="hidden" name="${_csrf.parameterName}"
						value="${_csrf.token}" />
					<div class="checkbox">
						<label> <input type="checkbox" value="remember-me" />
							Remember me
						</label>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
				</form>
			</div>
			<!--/.col-xs-12.col-sm-9-->
		</div>
		<!--/row-->
	</div>
	<div layout:fragment="sidebar">
		<div class="panel panel-primary">
			<div class="panel-body">
				<h3>Advanced search</h3>
				<hr />
				<div class="form-group">
					<label for="specialization" class="control-label">Specialization</label>
					<hc-combo-div id="specialization" name="specialization"
						ng-model="search.specialization" ng-change="search(search, 0)"
						ng-init="specialization = search.specialization"
						url="/rest/healthcare/specializations"
						class="form-control col-sm-3"></hc-combo-div>


				</div>

				<div class="form-group">
					<label for="city" class="control-label">City</label>
					<hc-combo-div id="city" name="city" ng-model="search.city"
						url="/cities" ng-change="search(search, 0)"
						class="form-control col-sm-3"></hc-combo-div>
				</div>

				<div class="form-group rating">
					<label for="ratings" class="control-label">Ratings</label>
					<!-- <p href="#" id="ratings" class="form-control">
                        <sapn ng-repeat="p in ratingPointsArr">
                                <a  ng-click="ratingPointchnage(false,$index, search)" href="#" ng-attr-title="test" ng-if="p.isActive" ><span class="glyphicon glyphicon-star"></span></a>
                                <a href="#" ng-click="ratingPointchnage(true,$index+1 ,search)" ng-attr-title="test" ng-if="!p.isActive" ><span class="glyphicon glyphicon-star-empty"></span></a>
                        &nbsp;</sapn>
                        
                </p> -->

					<h4>
						<a href="#" ng-click="search(search, 1)"> <span
							class="glyphicon glyphicon-star"></span> &nbsp;<span
							class="glyphicon glyphicon-star-empty"></span> &nbsp;<span
							class="glyphicon glyphicon-star-empty"></span> &nbsp;<span
							class="glyphicon glyphicon-star-empty"></span> &nbsp;<span
							class="glyphicon glyphicon-star-empty"></span>
						</a>
					</h4>
					<h4>
						<a href="#" ng-click="search(search, 2)"> <span
							class="glyphicon glyphicon-star"></span> &nbsp;<span
							class="glyphicon glyphicon-star"></span> &nbsp;<span
							class="glyphicon glyphicon-star-empty"></span> &nbsp;<span
							class="glyphicon glyphicon-star-empty"></span> &nbsp;<span
							class="glyphicon glyphicon-star-empty"></span>
						</a>
					</h4>
					<h4>
						<a href="#" ng-click="search(search, 3)"> <span
							class="glyphicon glyphicon-star"></span> &nbsp;<span
							class="glyphicon glyphicon-star"></span> &nbsp;<span
							class="glyphicon glyphicon-star"></span> &nbsp;<span
							class="glyphicon glyphicon-star-empty"></span> &nbsp;<span
							class="glyphicon glyphicon-star-empty"></span>
						</a>
					</h4>
					<h4>
						<a href="#" ng-click="search(search, 4)"> <span
							class="glyphicon glyphicon-star"></span> &nbsp;<span
							class="glyphicon glyphicon-star"></span> &nbsp;<span
							class="glyphicon glyphicon-star"></span> &nbsp;<span
							class="glyphicon glyphicon-star"></span> &nbsp;<span
							class="glyphicon glyphicon-star-empty"></span>
						</a>
					</h4>
					<h4>
						<a href="#" ng-click="search(search, 5)"> <span
							class="glyphicon glyphicon-star"></span> &nbsp;<span
							class="glyphicon glyphicon-star"></span> &nbsp;<span
							class="glyphicon glyphicon-star"></span> &nbsp;<span
							class="glyphicon glyphicon-star"></span> &nbsp;<span
							class="glyphicon glyphicon-star"></span>
						</a>
					</h4>
				</div>
			</div>
		</div>
	</div>
</body>
</html>